/* Image.css */
.image-container {
    text-align: center;
  }

  input[type="file"] {
    display: inline-block;
    margin-left: 10px;
    background-color: grey;
  }
  
    button  {
    background-color: grey;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    margin:2px;
    margin-left: 20px;
    height: 25px;
  }
  
  button:hover {
    background-color: grey;
  }

  